body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: honeydew;
}

main {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
}

div {
    cursor: move;
}

.over {
    border: 3px dotted #666;
}