body {
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: auto;
    gap: 1rem;
}

/* .content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 12px;
    width: 150px;
    text-align: center;
} */

#progress {
    height: 24px;
    accent-color: red;
}

.sprite-container {
    height: 130px;
    width: 130px;
    display: flex;
}

.sprite-container img {
    max-width: 150px;
    margin: auto;
}

#score {
    display: none;
    text-align: center;
    font-size: 2rem;
}

#answer-label {
    margin-right: 1rem;
    transition: all 0.5s ease;
}